.root {
    background-color: lightsteelblue;
    height: 350px;
    display: flex;
    justify-content: center;
}
Button {
    font-size: 15px;
    -unity-font-style: bold;
    color: white;
    background-color: dimgrey;
}

